<% @title = 'Downloads' %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">Downloads</h1> 

  <ul class="downloads-list">
    <li class="downloads-list-item">
      <a href='/assets/askyourgovernmentug-user-guide-2014.pdf' class="pdf-download">AYG Users' Guide</a>
    </li>

    <li class="downloads-list-item">
      <a href='/assets/uganda-ati-act-2005.pdf' class="pdf-download">Access to Information Act 2005</a>
    </li>
  </ul>
</div>
